<div class="nav">
    <a class="nav-item mr-2" aria-hidden="true" href="@logoLink">
        <p class="p=0 m-0">TweetMe</p>
    </a>
    <div>
        <a class="nav-item mr-2" aria-hidden="true" href="search">
            <p class="p=0 m-0">Search</p>
        </a>
        <a class="nav-item ml-2 mr-2" aria-hidden="true" href="popular">
            <p class="p=0 m-0">Popular</p>
        </a>
        <a class="nav-item  @logged ml-2 mr-2" aria-hidden="true" href="friends">
            <p class="p=0 m-0">Friends</p>
        </a>
        <a class="nav-item  @logged ml-1" aria-hidden="true" href="profile">
            <p class="p=0 m-0">Profile</p>
        </a>
    </div>
</div>




