.nav {
    min-width: 80%;
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    font-size: 1.2vw;
    cursor: pointer;
}

   .nav > div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

.icon{
    font-size: 1.8vw;
    font-weight: bold;
}

a {
    padding: 0;
    margin: 0;
    color: #ffffff;
    text-decoration: none;
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.show-nav{
    display: flex;
}

.hide-nav{
    display: none;
}
