/* /Pages/Friends.razor.rz.scp.css */
/* /Pages/Index.razor.rz.scp.css */
.index-page[b-mf133ba6c0] {
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.index-text[b-mf133ba6c0] {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 5vw;
    color: #00ff90;
}

.buttons[b-mf133ba6c0] {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    box-shadow: none;
}

button[b-mf133ba6c0] {
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5%;
    font-size: 0.9vw;
    outline: none;
    cursor: pointer;
}

.login-btn > button[b-mf133ba6c0] {
    margin-left: auto;
    margin-right: 0;
    color: darkslategrey;
    background-color: aquamarine;
}

.no-login-btn > button[b-mf133ba6c0] {
    color: #e6dfdf;
    background-color: darkslategrey;
}
/* /Pages/Popular.razor.rz.scp.css */
/* /Pages/Profile.razor.rz.scp.css */
/* /Pages/Search.razor.rz.scp.css */
.search-page[b-qqufjelhzy] {
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.search-text[b-qqufjelhzy] {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 5vw;
    color: #00ff90;
}

.search[b-qqufjelhzy] {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
}

.search-box[b-qqufjelhzy]{
    outline: none;
    padding: 0.02em 1em;
}

.search-button[b-qqufjelhzy]{
    
}
/* /Pages/SearchResult.razor.rz.scp.css */
body[b-hwrdcfyc1m] {
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-2q326z1amf] {
    position: relative;
    height: 100vh;
    display: grid;
    grid-template-rows: 10% 90%;
    overflow-x: hidden;
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

p[b-2q326z1amf]{
    padding: 0;
    margin: 0
}

.main[b-2q326z1amf] {
    width: 90%;
    height: 100%;
    padding: 1em;
    margin: auto;
}

.navbar[b-2q326z1amf] {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* /Shared/NavMenu.razor.rz.scp.css */
.nav[b-o67f2dhjzi] {
    min-width: 80%;
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    font-size: 1.2vw;
    cursor: pointer;
}

   .nav > div[b-o67f2dhjzi] {
        display: flex;
        align-items: center;
        justify-content: center;
    }

.icon[b-o67f2dhjzi]{
    font-size: 1.8vw;
    font-weight: bold;
}

a[b-o67f2dhjzi] {
    padding: 0;
    margin: 0;
    color: #ffffff;
    text-decoration: none;
}

.nav-item[b-o67f2dhjzi] {
    display: flex;
    align-items: center;
    justify-content: center;
}

.show-nav[b-o67f2dhjzi]{
    display: flex;
}

.hide-nav[b-o67f2dhjzi]{
    display: none;
}
